#bluecar1{
    position: absolute; 
    top: 35px; 
    left: 10%; 
    height: 110px;
}
#bluecar2{
    position: absolute; 
    top: 35px; 
    left: 32%;
    height: 110px;
}
#bluecar3{
    position: absolute; 
    top: 35px; 
    left: 52%; 
    height: 110px;
}
#redcar1{
    position: absolute; 
    display: none; 
    top: 80%; 
    left: 10%; 
    height: 110px;
}
#redcar2{
    position: absolute; 
    display: none; 
    top: 80%; 
    left: 32%; 
    height: 110px;
}
#redcar3{
    position: absolute; 
    display: none; 
    top: 80%; 
    left: 52%; 
    height: 110px;
}
.area{
    cursor: pointer;
}